<!-- Estendemos do template base -->
{% extends "agenda/_layouts/base.html" %}

<!-- Bloco que define o <title></title> da nossa página -->
{% block title %}Página Inicial{% endblock %}

<!-- Bloco de conteúdo da nossa página -->
{% block conteudo %}
{% if user.is_authenticated %}
<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Cadastrar Contato</h5>
          <p class="card-text">
            Cadastre aqui um novo <code>Contato</code>.
          </p>
          <a href="{% url 'agenda:cadastra_contato' %}"
             class="btn btn-primary">
            Novo Contato
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Contato</h5>
          <p class="card-text">
            Veja aqui a lista de <code>Contatos</code> cadastrados.
          </p>
          <a href="{% url 'agenda:lista_contatos' %}"
             class="btn btn-primary">
            Vá para Lista
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% else %}
<div class="container">
<p class="bem-vindo">Seja bem vindo a sua agenda de contatos, faça o login para ter acesso completo ao sistema:</p>
<button type="button" class="btn btn-primary botao-entrar" href="{% url 'login' %}" ><a class="entrar" href="{% url 'login' %}"> Entrar</a></button>
</div>
{% endif %}
{% endblock %}