.login{

   
    padding: 0;
    width: 512px;
    position: relative;
    top: 49px;
    left: 224px;
    z-index: 1;
}

.contorno{
   
    position: relative;
    top: 112px;
    left: 619px;
    width: 710px;
    height: 707px;
    background-image: linear-gradient(#d935dc, #3588dc);
}

body{
    background: url("/static/agenda/img/telefone.jpg")
}

img{
    position: relative;
    left: 33px;
}
h1{
color: #fff;
}

label{
    font-size: 23px;
    color: #fff;
}

input{
    border-radius: 30px;
}

#logar{
    position: relative;
    right: 69px;
    width: 420px;
    height: 60px;
    border-radius: 30px;
}